<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	 <!-- dbcp 配置结束-->
	 <!-- destroy-method定义销毁Bean方法，这里调用close()方法来销毁Bean -->
	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName">
           <value>com.mysql.jdbc.Driver</value>  
        </property>
		<property name="username">
    		<value>root</value>
  		</property>
  		<property name="password">
    		<value>123456</value>
  		</property>
  		<property name="url">
    		<value>jdbc:mysql://localhost:3306/QA</value>
  		</property>
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">	
		<property name="configLocation" value="classpath:SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 容器实例化EmployeeDaoImpl -->
	<bean id="employeeDao" class="sh.global.qa.dao.impl.EmployeeDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- 容器实例化RoleDaoImpl -->
	<bean id="roleDao" class="sh.global.qa.dao.impl.RoleDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- 容器实例化CooperatorDaoImpl -->
	<bean id="cooperatorDao" class="sh.global.qa.dao.impl.CooperatorDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- 容器实例化CooperatorDaoImpl -->
	<bean id="scrapDao" class="sh.global.qa.dao.impl.ScrapDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- 容器实例化ReworkDaoImpl -->
	<bean id="reworkDao" class="sh.global.qa.dao.impl.ReworkDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	<!-- 容器实例化DefectkDaoImpl -->
	<bean id="defectDao" class="sh.global.qa.dao.impl.DefectDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
</beans>